In [11]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/6e/b4/a5375cda5b54cb95ee9b836930fea30ae5a8f14aa97da7821722323d979b/psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl.metadata
  Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl.metadata (5.1 kB)
Downloading psycopg2_binary-2.9.11-cp311-cp311-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB 1.3 MB/s eta 0:00:03
   - -------------------------------------- 0.1/2.7 MB 1.1 MB/s eta 0:00:03
   --------- ------------------------------ 0.6/2.7 MB 4.9 MB/s eta 0:00:01
   ----------------- ---------------------- 1.2/2.7 MB 7.0 MB/s eta 0:00:01
   --------------------------- ------------ 1.9/2.7 MB 8.5 MB/s eta 0:00:01
   ------------------------------------- -- 2.5/2.7 MB 9.5 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 8.6 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
customers = pd.read_excel("H+ Sport Customers.xlsx", sheet_name="data")

In [11]:
customers.drop_duplicates()

,CustomerID,FirstName,LastName,Email,Phone,Address,City,State,Zipcode
0,100,Carol,Shaw,cshaw0@mlb.com,(206)804-8771,8157 Longview Court,Seattle,WA,98121
1,101,Elizabeth,Carr,ecarr1@oracle.com,(512)187-2507,3934 Petterle Trail,Austin,TX,78732
2,102,Ernest,Ramos,eramos2@plala.or.jp,(816)540-4257,8699 Clarendon Terrace,Kansas City,MO,64199
3,103,Jane,Carter,jcarter3@harvard.edu,(214)839-0542,2830 Novick Lane,Irving,TX,75037
4,104,Martha,Cooper,mcooper4@go.com,(727)235-5696,4537 Hoard Lane,Tampa,FL,33625
...,...,...,...,...,...,...,...,...,...
995,1095,Helen,Castillo,hcastillorn@behance.net,(918)612-1410,218 American Ash Lane,Tulsa,OK,74170
996,1096,Peter,Crawford,pcrawfordro@de.vu,(757)162-1265,0915 Grayhawk Street,Herndon,VA,22070
997,1097,Samuel,Fields,sfieldsrp@reverbnation.com,(304)197-3872,24 Scott Pass,Huntington,WV,25726
998,1098,Michael,Gonzalez,mgonzalezrq@hud.gov,(540)782-9635,48057 Hagan Place,Roanoke,VA,24009
999,1099,Louise,Morrison,lmorrisonrr@nifty.com,(786)955-3070,6 Donald Junction,Miami,FL,33147

In [12]:
customers = customers.drop(columns='Zipcode')

In [13]:
customers

,CustomerID,FirstName,LastName,Email,Phone,Address,City,State
0,100,Carol,Shaw,cshaw0@mlb.com,(206)804-8771,8157 Longview Court,Seattle,WA
1,101,Elizabeth,Carr,ecarr1@oracle.com,(512)187-2507,3934 Petterle Trail,Austin,TX
2,102,Ernest,Ramos,eramos2@plala.or.jp,(816)540-4257,8699 Clarendon Terrace,Kansas City,MO
3,103,Jane,Carter,jcarter3@harvard.edu,(214)839-0542,2830 Novick Lane,Irving,TX
4,104,Martha,Cooper,mcooper4@go.com,(727)235-5696,4537 Hoard Lane,Tampa,FL
...,...,...,...,...,...,...,...,...
995,1095,Helen,Castillo,hcastillorn@behance.net,(918)612-1410,218 American Ash Lane,Tulsa,OK
996,1096,Peter,Crawford,pcrawfordro@de.vu,(757)162-1265,0915 Grayhawk Street,Herndon,VA
997,1097,Samuel,Fields,sfieldsrp@reverbnation.com,(304)197-3872,24 Scott Pass,Huntington,WV
998,1098,Michael,Gonzalez,mgonzalezrq@hud.gov,(540)782-9635,48057 Hagan Place,Roanoke,VA
999,1099,Louise,Morrison,lmorrisonrr@nifty.com,(786)955-3070,6 Donald Junction,Miami,FL

In [28]:
# Get IP from Supabase dashboard → Connection Pooler
engine = create_engine(
    'postgresql://postgres.wgbdfkagcuvhlpasmdxw:Yourpassword@aws-1-eu-north-1.pooler.supabase.com:5432/postgres',
    connect_args={'sslmode': 'require', 'connect_timeout': 10})

# Test
try:
    with engine.connect() as conn:
        print("✅ Connected successfully!")
except Exception as e:
    print(f"❌ Connection failed: {e}")

✅ Connected successfully!

In [19]:
customers.to_sql("customers",engine)

1000

In [29]:
employees.to_sql("employees", engine, if_exists='replace', index=False)

741

In [21]:
employees = pd.read_excel("../Chapter_2/H+ Sport Employees.xlsx", sheet_name="Employees-Table")

In [22]:
employees.columns

Index(['Employee Name', 'Building', 'Department', 'Status', 'Hire Date',
       'Month', 'Years', 'Benefits', 'Salary', 'Job Rating', 'New Salary',
       'Tax Rate', '2.91%'],
      dtype='object')

In [23]:
columns_to_remove = ['Job Rating', 'New Salary','Tax Rate', '2.91%']

In [24]:
employees = employees.drop(columns=columns_to_remove)